**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_layouts/about.html
_layouts/about.liquid
_posts/2023-12-03-logic-agents.md
_posts/2023-12-04-first-order-logic.md
_posts/2023-12-04-search.md
_posts/2023-12-05-adversarial-search.md
_posts/2024-01-02-AdvancedAI.md
_posts/2024-01-04-causal-effect.md
_posts/2024-01-17-swarm-intelligence.md
_posts/2023-11-11-SVM.md
_posts/2024-01-02-advanced-ai-note.md
_posts/2023-11-17-relational-algebra.md
_posts/2023-11-18-functional-dependencies.md
_posts/2023-11-18-norm-form.md